*{
    padding: 0px;
    margin: 0px;
}
html,
body {
  height: 100%;
  min-height: 100%
}

.background {
    background: url(./srs/fundo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .superior {
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 90%;
    height: 40vw;
    background: rgba(255,255,255,0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .letrasGrandes{
    font-family: sageffine;
  }

  .letrasPequenas{
    font-family: 'Courier New', Courier, monospace;
  }

  #TituloHome{
    margin-left: 8vw;
    margin-top: 15vh;
    font-size: 10vw;
  }

  #estudEns{
    font-size: 1.7vw;
    margin-left: 8vw;
    margin-top: -30px;
  }