*{
    padding: 0px;
    margin: 0px;
}
html,
body {
  height: 100%;
  min-height: 100%
}

.background1 {
    background: url(./srs/fundo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .superior {
    backdrop-filter: blur(10px);
    border-radius: 20px;
    background: rgba(255,255,255,0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  #caixa1{
    width: 90vw;
    height: 40vw;
    margin-top: 7vh;
  }

  .letrasGrandes{
    font-family: 'CHAVTER', sans-serif;      
    font-weight: 100;
  }

  .letrasPequenas{
    font-family: 'Red Hat Mono', sans-serif;
    font-weight: 600;
  }

  #AreasC{
    margin-left: 8vw;
    margin-top: 9vh;
    border-color: transparent;
    background-color: transparent;
    font-size: 1.2vw;
  }

  #AreasC:hover {
    color: rgb(141, 0, 0);
  }

  #TituloHome{
    margin-left: 8vw;
    margin-top: 12vh;
    font-size: 12vw;
  }

  #estudEns{
    font-size: 2vw;
    margin-left: 8vw;
    margin-top: -9vh;
  }

.botaoredondo{
  border-radius: 7vw;
    background-color: transparent;
    border-color: black;
    font-size: 1.5vw;
}

  #BtSobreMim{
    margin-left: 8vw;
    margin-top: 3vh;
    height: 9vh;
    width: 17vw;
  }

  .botaoredondo:hover{
    color: rgb(141, 0, 0);
    border-color: rgb(141, 0, 0);
  }

  .Mana2{
    position: absolute;
    right: 10px;
    width: 35vw;
  }

         /*  AQUI COMEÇA A SEGUNDA PARTE!!!! */

  #background2{
    background: url(./srs/fundo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 110vh;
  }

  #fotoEu{
    position: absolute;
    height: 125vh;
    margin-left: 7vw;
  }

  #caixaEu1{
    width: 45vw;
    height: 40vw;
    margin-top: 115vh;
    margin-left: 43vw;
  }

  #nomekk{
    font-size: 10vh;
    margin-top: 10vh;
    margin-left: 6vw;
  }

.EXPsobreMim{
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 3vh;
    font-size: 1.5vw;
 }

#botaoMais{
  height: 8vh;
  width: 17vw;
  margin-left: 5vw;
  margin-top: 5vh;
}

#botaoCurr{
  height: 8vh;
  width: 17vw;
  margin-left: 1vw;
}

        /*  AQUI COMEÇA A TERCEIRA PARTE!!!! */


#fundo3{
  background-image:url("./srs/fundo3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#atsushi{
  position: absolute;
  height: 95vh;
  margin-top: 5vh;
  margin-left: 50vw;
}

#baterista{
  position: absolute;
  height: 95vh;
  width: 35% !important;
  margin-top: 5vh;
  margin-left: 55vw;
}

#jiluka{
  position: absolute;
  height: 105vh;
  width: 40% !important;
  margin-top: -5vh;
  margin-left: 50vw;
}

#kyuho{
  position: absolute;
  height: 100vh;
  width: 35% !important;
  margin-left: 55vw;
}

.materias{
  height: 80vh;
  width: 85vw;
}