*{
    padding: 0px;
    margin: 0px;
}
html,
body {
  height: 100%;
  min-height: 100%
}

.background1 {
    background: url(./srs/fundo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 120vh;
  }

  .superior {
    backdrop-filter: blur(10px);
    border-radius: 20px;
    width: 90vw;
    height: 45vw;
    background: rgba(255,255,255,0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 7vh;
  }

  .letrasGrandes{
    font-family: 'CHAVTER', sans-serif;      
    font-weight: 100;
  }

  .letrasPequenas{
    font-family: 'Red Hat Mono', sans-serif;
    font-weight: 600;
  }

  #AreasC{
    margin-left: 8vw;
    margin-top: 9vh;
    border-color: transparent;
    background-color: transparent;
    font-size: 1.2vw;
  }

  #AreasC:hover {
    color: rgb(141, 0, 0);
  }

  #TituloHome{
    margin-left: 8vw;
    margin-top: 15vh;
    font-size: 12vw;
  }

  #estudEns{
    font-size: 2vw;
    margin-left: 8vw;
    margin-top: -9vh;
  }

  #BtSobreMim{
    margin-left: 8vw;
    margin-top: 3vh;
    height: 9vh;
    width: 17vw;
    border-radius: 7vw;
    background-color: transparent;
    border-color: black;
    font-size: 1.5vw;
  }

  #BtSobreMim:hover{
    color: rgb(141, 0, 0);
    border-color: rgb(141, 0, 0);
  }

  .Mana2{
    position: absolute;
    right: 10px;
    width: 40vw;
  }