*{
    padding: 0px;
    margin: 0px;
}
html,
body {
  height: 100%;
  min-height: 100%;
  background-color:black;
}

.letrasGrandes{
    font-family: 'CHAVTER', sans-serif;      
    font-weight: 100;
  }

  .letrasPequenas{
    font-family: 'Red Hat Mono', sans-serif;
    font-weight: 600;
  }

  .tituloMateria{
    font-size: 20vh;
    margin-top: 5vh;
    margin-left: 5vw;
    color: rgb(141, 0, 0);
  }